@import "header";
@import "main";
@import "footer";



// VARIABLES 
$ColorDeFondoAll: rgba(72, 29, 79, 0.7);
$ColorDeFondoHead: #343368;
$ColorDeFondoNav:  rgba(72, 29, 79, 0.7);





// MIXIN 

@mixin titulo{
    font-size: 36px;
    color: #fff;
}

@mixin nav{
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}
 





// ----------------------------------------------------------------------------




*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    background-color: $ColorDeFondoAll;
    height: 100vh;

}




.contenedor{
    display: grid;
    width: 100vw;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 18% 27% 30% 25%;

}





// -----------------------------------------------------------------
// MEDIA QUERIE 625PX 

@media screen and (min-width: 625px){


    body,html{
        background-color: $ColorDeFondoAll;
        height: 100vh;
    
    }
    
    
    
    
    .contenedor{
        display: grid;
        width: 100vw;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 19% 27% 29% 25%;
    
    }
    
    
    header{
        grid-column:1/3;
        grid-row:1/2;
        background: rgba(1, 7, 22, 0.75);
    
        .enlace-h1{
            color: white;
            font-size: 25px;
            text-align: left;
            background: rgba(9, 29, 78, 0.75);
            display: flex;
            // width: 100%;
            // height: 100%;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-decoration: none;
        
        }
                
        h2{
            font-family: 'Vampiro One', cursive,Georgia;
            color: rgb(30, 96, 112);
            transform: rotate(-15deg) ;
            box-shadow: 0 0 10px 0 rgb(183, 223, 139);
            border-radius: 10px;
            font-size: 29px;
            align-self: center;
            margin-left: 8px;
            font-weight: bold;
            
    
    
        }
    
        ul li a:nth-child(1){
            text-decoration: none;
            color: #fff;
            font-size: 19px;
            font-weight: normal;
            padding: 8px;
            box-shadow: 0 0 15px 0 rgb(155, 138, 137);
            border-radius: 10px;
            
            
    
        }
    }

main{
    grid-column: 1/2;
    grid-row: 2/4;
    background: rgba(1, 7, 22, 0.75);
    height: 100%;
    
    
    .contenedor-texto{
        height: inherit;
        color: #fff;
        //    margin-top: 40px;
        text-indent: 4px;
        margin-left: 5px;
        margin-right: 5px;
    }
    
        h2{
            font-size: 32px;
            // margin-top: 70px;
            // margin-bottom: 50px;
            text-decoration: underline gray;
        }
    
            p{
                //    line-height: 50px;
                font-size: 19px;
            }
    
}


footer{
    grid-column: 1/3;
    grid-row: 4/5;
    // background-image: url(../FOOTER.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgba(26, 10, 17, 0.856);
    position: relative;

    h2{
        font-size: 19px;
        text-shadow: 0px 0px 3px rgb(177, 223, 238);
        // text-decoration: underline rgb(20, 19, 19);
        color: #fff;
        font-weight: 800;
        margin-bottom: 10px;
    }

    li{
        list-style: none;
        padding-bottom: 15px;
    }

    a{
        color: #fff;
        // text-decoration: none;
        font-size: 17px;


        }


        .img-footer{
            width: 150px;
            height: 160px;
        }

}


}

// -------------------------------------------------------------------
// MEDIA QUERIE 740PX

@media screen and (min-width: 740px){

    body,html{
        background-color: $ColorDeFondoAll;
        height: 150vh;
    
    }






    .contenedor{
        display: grid;
        width: 100%;
        height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 14% 33% 33% 20%;
        
    
    }


    header{
        grid-column:1/3;
        grid-row:1/2;
        background: rgba(1, 7, 22, 0.75);
        height: auto;
        width: 100%;

        .enlace-h1{
            color: white;
            font-size: 30px;
            text-align: left;
            background: rgba(9, 29, 78, 0.75);
            display: flex;
            // width: 100%;
            // height: 100%;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-decoration: none;
        
        }

        h2{
            font-family: 'Vampiro One', cursive,Georgia;
            color: rgb(30, 96, 112);
            transform: rotate(-15deg) ;
            box-shadow: 0 0 10px 0 rgb(183, 223, 139);
            border-radius: 10px;
            font-size: 30px;
            align-self: center;
            margin-left: 8px;
            font-weight: bold;
            


        }

        ul li a:nth-child(1){
            text-decoration: none;
            color: #fff;
            font-size: 22px;
            font-weight: normal;
            padding: 8px;
            box-shadow: 0 0 15px 0 rgb(155, 138, 137);
            border-radius: 10px;
            
            

        }




    }






    main{
        grid-column: 1/2;
        grid-row: 2/4;
        background: rgba(1, 7, 22, 0.75);
        height: 100%;
        
        .contenedor-texto{
            height: inherit;
            color: #fff;
            //    margin-top: 40px;
            text-indent: 4px;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        h2{
            font-size: 40px;
            margin-top: 80px;
            margin-bottom: 60px;
            text-decoration: underline gray;
        }
        
        p{
            line-height: 30px;
            font-size: 24px;
        }
        
    }

       



    footer{
        grid-column: 1/3;
        grid-row: 4/5;
        // background-image: url(../FOOTER.svg);
        // background-repeat: no-repeat;
        // background-size: cover;
        background-color: rgba(26, 10, 17, 0.856);
        position: relative;

        h2{
            font-size: 23px;
            text-shadow: 0px 0px 3px rgb(177, 223, 238);
            // text-decoration: underline rgb(20, 19, 19);
            color: #fff;
            font-weight: 800;
            margin-bottom: 10px;
        }

        li{
            list-style: none;
            padding-bottom: 15px;
        }

        a{
            color: #fff;
            // text-decoration: none;
            font-size: 19px;


            }


            .img-footer{
                width: 160px;
                height: 180px;
            }
       
        }



}

// ----------------------------------------------------------------------- 
// MEDIA QUERIE 1024PX

@media screen and (min-width: 1024px){

    body,html{
        background-color: $ColorDeFondoAll;
        height: 150vh;
    
    }






    .contenedor{
        display: grid;
        width: 100%;
        height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 15% 33% 32% 20%;
        
    
    }



    header{
        grid-column:1/3;
        grid-row:1/2;
        background: rgba(1, 7, 22, 0.75);
        height: auto;
        width: 100%;

        .enlace-h1{
            color: white;
            font-size: 34px;
            text-align: left;
            background: rgba(9, 29, 78, 0.75);
            display: flex;
            // width: 100%;
            // height: 100%;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-decoration: none;
        
        }

        h2{
            font-family: 'Vampiro One', cursive,Georgia;
            color: rgb(30, 96, 112);
            transform: rotate(-15deg) ;
            box-shadow: 0 0 10px 0 rgb(183, 223, 139);
            border-radius: 10px;
            font-size: 31px;
            align-self: center;
            margin-left: 8px;
            font-weight: bold;
            


        }

        ul li a:nth-child(1){
            text-decoration: none;
            color: #fff;
            font-size: 26px;
            font-weight: normal;
            padding: 8px;
            box-shadow: 0 0 15px 0 rgb(155, 138, 137);
            border-radius: 10px;
            
            

        }



    }

            

    
    main{
        grid-column: 1/2;
        grid-row: 2/4;
        background: rgba(1, 7, 22, 0.75);
        height: 100%;
        
        .contenedor-texto{
            height: inherit;
            color: #fff;
            //    margin-top: 40px;
            text-indent: 4px;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        h2{
            font-size: 45px;
            margin-top: 80px;
            margin-bottom: 60px;
            text-decoration: underline gray;
        }
        
        p{
            line-height: 32px;
            font-size: 29px;
        }
        
    }






    
    


    


    footer{
        grid-column: 1/3;
        grid-row: 4/5;
        // background-image: url(../FOOTER.svg);
        // background-repeat: no-repeat;
        // background-size: cover;
        background-color: rgba(26, 10, 17, 0.856);
        position: relative;

        h2{
            font-size: 27px;
            text-shadow: 0px 0px 3px rgb(177, 223, 238);
            // text-decoration: underline rgb(20, 19, 19);
            color: #fff;
            font-weight: 800;
            margin-bottom: 10px;
        }

        li{
            list-style: none;
            padding-bottom: 15px;
        }

        a{
            color: #fff;
            // text-decoration: none;
            font-size: 23px;


            }


            .img-footer{
                width: 180px;
                height: 190px;
            }
        }


}


// ----------------------------------------------------------------------- 
// MEDIA QUERIE 1200PX
@media screen and (min-width: 1200px){

    body,html{
        background-color: $ColorDeFondoAll;
        height: 150vh;
    
    }






    .contenedor{
        display: grid;
        width: 100%;
        height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 16% 32% 32% 20%;
        
    
    }



    header{
        grid-column:1/3;
        grid-row:1/2;
        background: rgba(1, 7, 22, 0.75);
        height: auto;
        width: 100%;

        .enlace-h1{
            color: white;
            font-size: 38px;
            text-align: left;
            background: rgba(9, 29, 78, 0.75);
            display: flex;
            // width: 100%;
            // height: 100%;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-decoration: none;
        
        }

        h2{
            font-family: 'Vampiro One', cursive,Georgia;
            color: rgb(30, 96, 112);
            transform: rotate(-15deg) ;
            box-shadow: 0 0 10px 0 rgb(183, 223, 139);
            border-radius: 10px;
            font-size: 31px;
            align-self: center;
            margin-left: 8px;
            font-weight: bold;
            


        }

        ul li a:nth-child(1){
            text-decoration: none;
            color: #fff;
            font-size: 28px;
            font-weight: normal;
            padding: 8px;
            box-shadow: 0 0 15px 0 rgb(155, 138, 137);
            border-radius: 10px;
            
            

        }



    }
            

    
    main{
        grid-column: 1/2;
        grid-row: 2/4;
        background: rgba(1, 7, 22, 0.75);
        height: 100%;
        
        .contenedor-texto{
            height: inherit;
            color: #fff;
            //    margin-top: 40px;
            text-indent: 4px;
            margin-left: 5px;
            margin-right: 5px;
        }
        
        h2{
            font-size: 45px;
            margin-top: 80px;
            margin-bottom: 65px;
            text-decoration: underline gray;
        }
        
        p{
            line-height: 33px;
            font-size: 33px;
        }
        
    }






    
    


    


    footer{
        grid-column: 1/3;
        grid-row: 4/5;
        // background-image: url(../FOOTER.svg);
        // background-repeat: no-repeat;
        // background-size: cover;
        background-color: rgba(26, 10, 17, 0.856);
        position: relative;

        h2{
            font-size: 29px;
            text-shadow: 0px 0px 3px rgb(177, 223, 238);
            // text-decoration: underline rgb(20, 19, 19);
            color: #fff;
            font-weight: 800;
            margin-bottom: 10px;
        }

        li{
            list-style: none;
            padding-bottom: 15px;
        }

        a{
            color: #fff;
            // text-decoration: none;
            font-size: 25px;


            }


            .img-footer{
                width: 190px;
                height: 200px;
            }
        }


}