footer{
    grid-column: 1/3;
    grid-row: 4/5;
    // background-image: url(../FOOTER.svg);
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgba(26, 10, 17, 0.856);
    position: relative;


    .footer{        
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        // background-color: lavender;
        height: 100%;
        width: 100%;
        position: absolute;
        box-shadow: 0 0 40px 0 #404e71af;

        
    }

            .contenedor-texto{
                // background-color: khaki;
                width: auto;
                height: auto;

                
            }

                h2{
                    font-size: 14px;
                    text-shadow: 0px 0px 3px rgb(177, 223, 238);
                    // text-decoration: underline rgb(20, 19, 19);
                    color: #fff;
                    font-weight: 800;
                    margin-bottom: 10px;
                }

                    .listado-footer{
                        // background-color: red;
                        // height: 100%;
                        text-indent: 10px;
                    }

                        li{
                            list-style: none;
                            padding-bottom: 15px;
                        }
                        
                        
                            a{
                                color: #fff;
                                // text-decoration: none;


                                }

                
                                .contenedor-imagen{
                                    // background-color: lightblue;
                                    width: auto;
                                    
                                    
                                    
                                    
                                    
                                    

                                }

}



