header{
    grid-column:1/3;
    grid-row:1/2;
    background: rgba(1, 7, 22, 0.75);

    
        .enlace-h1{
            color: white;
            font-size: 23px;
            text-align: left;
            background: rgba(9, 29, 78, 0.75);
            display: flex;
            // width: 100%;
            // height: 100%;
            flex-direction: row;
            justify-content: center;
            margin: 0;
            padding: 0;
            text-decoration: none;
        
        }

        
            
        h2{
            font-family: 'Vampiro One', cursive,Georgia;
            color: rgb(30, 96, 112);
            transform: rotate(-15deg) ;
            box-shadow: 0 0 10px 0 rgb(183, 223, 139);
            border-radius: 10px;
            font-size: 28px;
            align-self: center;
            margin-left: 8px;
            font-weight: bold;
            


        }

        
    

            .item-nav{
                background-color: #404e71af;
                box-shadow: inset 0px 2px 8px;
                height: 60px;
                
            }
            
                ul{
                    height: inherit;
                    display: flex;
                    flex-direction: row;
                    justify-content:space-evenly;
                    flex-wrap: nowrap;
                    align-items: center;
                    
                }
                
                    li{
                        height: auto;
                        width: auto;
                        // padding: 5px;
                        list-style: none;
                    }
                    
                        
                    
                      ul li a:nth-child(1){
                                text-decoration: none;
                                color: #fff;
                                font-size: 16px;
                                font-weight: normal;
                                padding: 8px;
                                box-shadow: 0 0 15px 0 rgb(155, 138, 137);
                                border-radius: 10px;
                                
                                

                            }


                    }


                    
                        


                            .item-nav ul li a:hover{
                                background-color: lightslategray;
                                font-weight: bold;
                                color: #000;
                                box-shadow: 0 0 10px black;
                                font-style: italic;
                                border-radius: 10px;
                            }

