header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  background: rgba(1, 7, 22, 0.75);
}

header .enlace-h1 {
  color: white;
  font-size: 23px;
  text-align: left;
  background: rgba(9, 29, 78, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header h2 {
  font-family: 'Vampiro One', cursive, Georgia;
  color: #1e6070;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  -webkit-box-shadow: 0 0 10px 0 #b7df8b;
          box-shadow: 0 0 10px 0 #b7df8b;
  border-radius: 10px;
  font-size: 28px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 8px;
  font-weight: bold;
}

header .item-nav {
  background-color: #404e71af;
  -webkit-box-shadow: inset 0px 2px 8px;
          box-shadow: inset 0px 2px 8px;
  height: 60px;
}

header ul {
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  height: auto;
  width: auto;
  list-style: none;
}

header ul li a:nth-child(1) {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 8px;
  -webkit-box-shadow: 0 0 15px 0 #9b8a89;
          box-shadow: 0 0 15px 0 #9b8a89;
  border-radius: 10px;
}

header .a-tres {
  background-color: rgba(14, 11, 59, 0.603);
}

.item-nav ul li a:hover {
  background-color: lightslategray;
  font-weight: bold;
  color: #000;
  -webkit-box-shadow: 0 0 10px black;
          box-shadow: 0 0 10px black;
  font-style: italic;
  border-radius: 10px;
}

main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2/4;
  background: rgba(1, 7, 22, 0.75);
  color: white;
}

main .contenedor-uno {
  display: -ms-grid;
  display: grid;
  height: 50%;
  -ms-grid-columns: 40% 60%;
      grid-template-columns: 40% 60%;
  -ms-grid-rows: 35% 65%;
      grid-template-rows: 35% 65%;
  border-radius: 10px;
}

main .img-retrato {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 10px;
}

main .img {
  float: left;
  border: 1px solid #fff;
  border-radius: 17px;
  margin-left: 5px;
  margin-right: 5px;
}

main h3 {
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  margin-top: 20px;
  margin-left: 20px;
}

main .addres {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 13px;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: auto;
  margin-left: 10px;
}

main a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
}

main a:link {
  color: khaki;
}

main .contenedor-dos {
  height: 45%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 50% 50%;
      grid-template-rows: 50% 50%;
}

main h4 {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

main .enlaces-redes {
  -ms-grid-column-align: center;
      justify-self: center;
}

main .enlaces-redes > a {
  padding: 9px;
}

footer {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  background-color: rgba(26, 10, 17, 0.856);
  position: relative;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  width: 100%;
  position: absolute;
}

footer .contenedor-texto {
  width: auto;
  height: auto;
}

footer h2 {
  font-size: 14px;
  text-shadow: 0px 0px 3px #b1dfee;
  color: #fff;
  font-weight: 800;
  margin-bottom: 10px;
}

footer .listado-footer {
  text-indent: 10px;
}

footer li {
  list-style: none;
  padding-bottom: 15px;
}

footer a {
  color: #fff;
}

footer .contenedor-imagen {
  width: auto;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  background-color: rgba(72, 29, 79, 0.7);
  height: 100vh;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  width: 100vw;
  height: 100%;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 18% 27% 30% 25%;
      grid-template-rows: 18% 27% 30% 25%;
}

@media screen and (min-width: 625px) {
  body, html {
    background-color: rgba(72, 29, 79, 0.7);
    height: 100vh;
  }
  .contenedor {
    display: -ms-grid;
    display: grid;
    width: 100vw;
    height: 100%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 19% 27% 29% 25%;
        grid-template-rows: 19% 27% 29% 25%;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background: rgba(1, 7, 22, 0.75);
  }
  header .enlace-h1 {
    color: white;
    font-size: 25px;
    text-align: left;
    background: rgba(9, 29, 78, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  header h2 {
    font-family: 'Vampiro One', cursive,Georgia;
    color: #1e6070;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-box-shadow: 0 0 10px 0 #b7df8b;
            box-shadow: 0 0 10px 0 #b7df8b;
    border-radius: 10px;
    font-size: 29px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 8px;
    font-weight: bold;
  }
  header ul li a:nth-child(1) {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
    font-weight: normal;
    padding: 8px;
    -webkit-box-shadow: 0 0 15px 0 #9b8a89;
            box-shadow: 0 0 15px 0 #9b8a89;
    border-radius: 10px;
  }
  main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background: rgba(1, 7, 22, 0.75);
    color: white;
  }
  main .contenedor-uno {
    display: -ms-grid;
    display: grid;
    height: 50%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 35% 65%;
        grid-template-rows: 35% 65%;
    border-radius: 10px;
  }
  main .img-retrato {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 10px;
  }
  main .img {
    float: left;
    border: 1px solid #fff;
    border-radius: 17px;
    margin-left: 5px;
    width: 160px;
    height: 170px;
  }
  main h3 {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 20px;
    font-size: 22px;
  }
  main .addres {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 17px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
    margin-left: 10px;
  }
  main span {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  main h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 22px;
  }
  main .enlaces-redes > a {
    padding: 20px;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    background-color: rgba(26, 10, 17, 0.856);
    position: relative;
  }
  footer h2 {
    font-size: 19px;
    text-shadow: 0px 0px 3px #b1dfee;
    color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
  }
  footer li {
    list-style: none;
    padding-bottom: 15px;
  }
  footer a {
    color: #fff;
    font-size: 17px;
  }
  footer .img-footer {
    width: 150px;
    height: 160px;
  }
}

@media screen and (min-width: 740px) {
  body, html {
    background-color: rgba(72, 29, 79, 0.7);
    height: 150vh;
  }
  .contenedor {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 150vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 14% 33% 33% 20%;
        grid-template-rows: 14% 33% 33% 20%;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background: rgba(1, 7, 22, 0.75);
    height: auto;
    width: 100%;
  }
  header .enlace-h1 {
    color: white;
    font-size: 30px;
    text-align: left;
    background: rgba(9, 29, 78, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  header h2 {
    font-family: 'Vampiro One', cursive,Georgia;
    color: #1e6070;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-box-shadow: 0 0 10px 0 #b7df8b;
            box-shadow: 0 0 10px 0 #b7df8b;
    border-radius: 10px;
    font-size: 30px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 8px;
    font-weight: bold;
  }
  header ul li a:nth-child(1) {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    font-weight: normal;
    padding: 8px;
    -webkit-box-shadow: 0 0 15px 0 #9b8a89;
            box-shadow: 0 0 15px 0 #9b8a89;
    border-radius: 10px;
  }
  main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background: rgba(1, 7, 22, 0.75);
    color: white;
  }
  main .contenedor-uno {
    display: -ms-grid;
    display: grid;
    height: 50%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 35% 65%;
        grid-template-rows: 35% 65%;
    border-radius: 10px;
  }
  main .img-retrato {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 20px;
  }
  main .img {
    float: left;
    border: 1px solid #fff;
    border-radius: 17px;
    margin-left: 5px;
    width: 240px;
    height: 250px;
  }
  main h3 {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 30px;
    font-size: 33px;
  }
  main .addres {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 25px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: auto;
    margin-left: 10px;
  }
  main span {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  main h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 33px;
  }
  main .enlaces-redes > a {
    padding: 30px;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    background-color: rgba(26, 10, 17, 0.856);
    position: relative;
  }
  footer h2 {
    font-size: 23px;
    text-shadow: 0px 0px 3px #b1dfee;
    color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
  }
  footer li {
    list-style: none;
    padding-bottom: 15px;
  }
  footer a {
    color: #fff;
    font-size: 19px;
  }
  footer .img-footer {
    width: 160px;
    height: 180px;
  }
}

@media screen and (min-width: 1024px) {
  body, html {
    background-color: rgba(72, 29, 79, 0.7);
    height: 150vh;
  }
  .contenedor {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 150vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 15% 33% 32% 20%;
        grid-template-rows: 15% 33% 32% 20%;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background: rgba(1, 7, 22, 0.75);
    height: auto;
    width: 100%;
  }
  header .enlace-h1 {
    color: white;
    font-size: 34px;
    text-align: left;
    background: rgba(9, 29, 78, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  header h2 {
    font-family: 'Vampiro One', cursive,Georgia;
    color: #1e6070;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-box-shadow: 0 0 10px 0 #b7df8b;
            box-shadow: 0 0 10px 0 #b7df8b;
    border-radius: 10px;
    font-size: 31px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 8px;
    font-weight: bold;
  }
  header ul li a:nth-child(1) {
    text-decoration: none;
    color: #fff;
    font-size: 26px;
    font-weight: normal;
    padding: 8px;
    -webkit-box-shadow: 0 0 15px 0 #9b8a89;
            box-shadow: 0 0 15px 0 #9b8a89;
    border-radius: 10px;
  }
  main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background: rgba(1, 7, 22, 0.75);
    color: white;
  }
  main .contenedor-uno {
    display: -ms-grid;
    display: grid;
    height: 50%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 35% 65%;
        grid-template-rows: 35% 65%;
    border-radius: 10px;
  }
  main .img-retrato {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 20px;
  }
  main .img {
    float: left;
    border: 1px solid #fff;
    border-radius: 17px;
    margin-left: 5px;
    width: 260px;
    height: 270px;
  }
  main h3 {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 30px;
    font-size: 38px;
  }
  main .addres {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 28px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: auto;
    margin-left: 10px;
  }
  main span {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  main h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 36px;
  }
  main .enlaces-redes > a {
    padding: 40px;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    background-color: rgba(26, 10, 17, 0.856);
    position: relative;
  }
  footer h2 {
    font-size: 27px;
    text-shadow: 0px 0px 3px #b1dfee;
    color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
  }
  footer li {
    list-style: none;
    padding-bottom: 15px;
  }
  footer a {
    color: #fff;
    font-size: 23px;
  }
  footer .img-footer {
    width: 180px;
    height: 190px;
  }
}

@media screen and (min-width: 1200px) {
  body, html {
    background-color: rgba(72, 29, 79, 0.7);
    height: 150vh;
  }
  .contenedor {
    display: -ms-grid;
    display: grid;
    width: 100%;
    height: 150vh;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 16% 32% 32% 20%;
        grid-template-rows: 16% 32% 32% 20%;
  }
  header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    background: rgba(1, 7, 22, 0.75);
    height: auto;
    width: 100%;
  }
  header .enlace-h1 {
    color: white;
    font-size: 38px;
    text-align: left;
    background: rgba(9, 29, 78, 0.75);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  header h2 {
    font-family: 'Vampiro One', cursive,Georgia;
    color: #1e6070;
    -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
    -webkit-box-shadow: 0 0 10px 0 #b7df8b;
            box-shadow: 0 0 10px 0 #b7df8b;
    border-radius: 10px;
    font-size: 31px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin-left: 8px;
    font-weight: bold;
  }
  header ul li a:nth-child(1) {
    text-decoration: none;
    color: #fff;
    font-size: 28px;
    font-weight: normal;
    padding: 8px;
    -webkit-box-shadow: 0 0 15px 0 #9b8a89;
            box-shadow: 0 0 15px 0 #9b8a89;
    border-radius: 10px;
  }
  main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
    background: rgba(1, 7, 22, 0.75);
    color: white;
  }
  main .contenedor-uno {
    display: -ms-grid;
    display: grid;
    height: 50%;
    -ms-grid-columns: 40% 60%;
        grid-template-columns: 40% 60%;
    -ms-grid-rows: 35% 65%;
        grid-template-rows: 35% 65%;
    border-radius: 10px;
  }
  main .img-retrato {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 20px;
  }
  main .img {
    float: left;
    border: 1px solid #fff;
    border-radius: 17px;
    margin-left: 5px;
    width: 330px;
    height: 310px;
  }
  main h3 {
    -ms-grid-column-align: center;
        justify-self: center;
    margin-top: 30px;
    font-size: 41px;
  }
  main .addres {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    font-size: 33px;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: auto;
    margin-left: 10px;
  }
  main span {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  main h4 {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
    font-size: 36px;
  }
  main .enlaces-redes > a {
    padding: 40px;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    background-color: rgba(26, 10, 17, 0.856);
    position: relative;
  }
  footer h2 {
    font-size: 29px;
    text-shadow: 0px 0px 3px #b1dfee;
    color: #fff;
    font-weight: 800;
    margin-bottom: 10px;
  }
  footer li {
    list-style: none;
    padding-bottom: 15px;
  }
  footer a {
    color: #fff;
    font-size: 25px;
  }
  footer .img-footer {
    width: 190px;
    height: 200px;
  }
}
/*# sourceMappingURL=contacto.css.map */